.container {
    min-height: 100vh;
    padding: 0 1rem 3rem;
    margin: 0 15rem;
    color: #cdcdcd;
}

@media (width > 1440px) {
    .container {
        margin: 0 28rem;
    }
}

@media (1080 < width < 1440px) {
    .container {
        margin: 0 20rem;
    }
}

@media (width < 1080px) {
    .container {
        padding: 0;
        margin: 0 8rem;
    }
}

@media (width < 680px) {
    .container {
        margin: 0 2rem;
        font-size: small;
    }
}

@media (width < 340px) {
    .container {
        font-size: x-small;
    }
}