.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    margin: 0 15rem;
    flex: 1 0 auto;
}

.header {
    width: 100%;
    background-color: #272727;
    border-top: 5px solid #ff388c;
    border-bottom: 1px solid #686868;
    min-height: 55.95px;
}

.siteInfo {
    margin: 0 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 1rem;
}

.siteTitle {
    margin: 0;
    color: #cdcdcd;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteTitle:hover {
    color: #cdcdcd;
}

.siteNav {
    padding: 2px;
    margin-left: auto;
}

.siteNavLinks a {
    color: #cdcdcd;
}

.siteNavLinks a:first-of-type {
    padding-right: 20px;
}

.footer {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #686868;
    color: #686868;
    background-color: #272727;
    flex-shrink: 0;
}

.footerInfo {
    margin: 0 15rem;
}

.footerTitle {
    margin: 0;
    color: #686868;
}

.footerNav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.contactList {
    list-style: none;
    padding: 0;
    width: max-content;
}

.contactListItem {
    color: #ff388c;
    text-decoration: none;
}

.footerNav2 > p {
    margin-left: auto;
    width: calc(51% - (30px / 2));
    color: #686868;

}

.footer a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #2a7ae2;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
}

.card {
    margin: 1rem;
    text-align: left;
    color: #fffaf0;
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #ff388c;
}

.card h2:hover {
    color: #2a7ae2;
    border-color: #2a7ae2;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #fffaf0;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

